extends layout

block header
  title
    | Passport | '#{q}' 검색 결과
    

block page 
  - var menu = 'index'

block content
  form(action="/search", method="GET", role="type_title", style="float: left;")
    input(type="hidden", name="q", value=q)
    input(type="hidden", name="type", value="title")
    button.btn.btn-default.btn_lg(type="submit", aria-label='type_title') 제목
  form(action="/search", method="GET", role="type_text", style="float: left;")
    input(type="hidden", name="q", value=q)
    input(type="hidden", name="type", value="text")
    button.btn.btn-default.btn_lg(type="submit", aria-label='type_text') 내용
  form(action="/search", method="GET", role="type_user", style="float: left;")
    input(type="hidden", name="q", value=q)
    input(type="hidden", name="type", value="user")
    button.btn.btn-default.btn_lg(type="submit", aria-label='type_user') 글쓴이

  div(style="clear: both;")
  br
  if (posts == 0)
    | 검색된 결과가 없습니다...
    br
  else 
    .wrapper
      each post, index in posts
        - var postdate = post.date.default.toString().substring(0, 24);
        a(href=`/${post._id}`, style="color: black")
          div.well.well-sm(style="float: left; width: 300px; height: 400px; box-sizing: border-box; margin: 10px;")
            h2(style="margin: 0px 0px 40px 20px; height: 50px; box-sizing: border-box; text-overflow: ellipsis;")
              = post.title
            pre(style="width: 270px; height: 260px; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; word-break: break-all;")
              if(post.file != null)
                img(src='../upload/' + post.file.filename, alt=post.file.filename, width="100px", style="")
                br
              = post.text
            span= post.userid
            span(style="float: right;")= postdate